<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
  <title>dishyzee | music video++</title>
  <link rel="stylesheet" type="text/css" href="h5v.css" media="screen">
</head>
<body lang="en">
  <a href="#lang">en</a>
  <input id="filter" class="query" placeholder="Enter search term or leave empty for random" type="text">
  <input id="search" class="button" value="Search" type="button">
  <a id="upload" href="#">Upload</a> | @nature6oy<a href="./clearsessions.php"><img alt="photo of signed-in user" title="sign out" src="https://pbs.twimg.com/profile_images/470535834140020736/oaDdhztB_bigger.jpeg"></a>
  <div id="signedIn" data-id_str="449230816" data-name="nature6oy" data-screen_name="nature6oy"></div>
  <figure id="video_player"></figure>
  <div id="results"></div>
  <div class="inputs" id="datazone" style="display:none">
    <form id="metadata" action="">
      <input id="title" placeholder="Title">
      <input id="artist" placeholder="Artist">
      Genre <select id="genre">
        <option selected="selected"></option>
        <option>Alternative</option>
        <option>Country</option>
        <option>Classical</option>
        <option>Dance</option>
        <option>Hip-Hop</option>
        <option>Indie</option>
        <option>Jazz</option>
        <option>Latin</option>
        <option>Pop</option>
        <option>R&amp;B</option>
        <option>Rap</option>
        <option>Reggae</option>
        <option>Rock</option>
        <option>World</option>
      </select>
      <input id="album" placeholder="Album">
      <input id="producer" placeholder="Producer">
      <input maxlength="2" id="rating" placeholder="Rating">
      <input maxlength="2" id="trackNumber" placeholder="Track#">
      <input id="source" type="hidden">
      <!-- add filename as source here -->
      <input id="submit_button" class="button" value="Update" type="submit">
      <input id="scope" checked="checked" type="checkbox"> Share
    </form>
  </div>
  <div class="inputs" id="dropzone" style="display:none">
    Drag-n-drop your MP4 here
  </div>
  <!-- remmber data from drag-n-drop -->
  <div id="fileData" data-type="" data-name="" data-size=""></div>

<script src="js/uber.js"></script>
<script src="js/h5v.js"></script>

</body></html>
