body{
  text-align:center;
  font-family:arial;
}
input[type=button]{
  margin:20px;
}
input[type=text]{
  width:400px;
}
#play_area{
  margin:10px auto; 
  height:42px; 
  padding:5px 10px 5px 10px; 
  background-color:#FFF; 
  border-bottom:dotted 1px #7c7c7c;
  overflow:hidden;
}
span{
  font-color:#F00;
}
/*
#mdat{
  width:500px;
  height:auto;
  padding:5px 10px 5px 10px;
  position:fixed;
  left:50%;
}
*/

/* for dudley player */
table.read_only td{
  border:1px dotted;
  font-family:sans-serif;
  color:#999;
}


#video_player{
  display:table;
  line-height:0;
  background:#000;
  font-size:0;
}
#video_player video,
#video_player figcaption{
  display:table-cell;
  vertical-align:top;
}
#video_player figcaption{
  width:25%;
}
#video_player figcaption a{
  display:block;
  opacity:.5;
  transition:1s opacity;
}
#video_player figcaption a img,figure video{
  width:60%;
  height:auto;
}
#video_player figcaption a:hover{
  opacity:1;
}
/* uncomment this for vertical display
 * @media screen and (max-width:700px) { */
  #video_player video,#video_player figcaption {
    display:table-row;
  }
  #video_player figcaption a{
    display:inline-block;
    width:33.33%;
  }
/* } */