body{
  text-align:center;
  font-family:arial;
}
input[type=button]{
  margin:20px;
}
input[type=text]{
  width:300px;
}
/* inputs class is mostly copied from #play_area */
.inputs{
  margin:10px auto;
  height:100px;
  padding:5px 10px 5px 10px;
  background-color:#FFF;
  border-bottom:dotted 1px #7c7c7c;
  border:1px dotted gray;
}
#datazone {
  position:relative;
  float:left;
  width:70%;
}
#dropzone {
  position:relative;
  float:right;
  width:20%;
}
#title{ 
  width:280px 
}
#rating, #track { 
  width:60px 
}
/* unnchanged from the original css creted by dudley */ 
#play_area{
  margin:10px auto;
  height:42px;
  padding:5px 10px 5px 10px;
  background-color:#FFF;
  border-bottom:dotted 1px #7c7c7c;
  overflow:hidden;
}

#video_player{
  display:table;
  line-height:0;
  background:#000;
  font-size:0;
}
#video_player video,
#video_player figcaption{
  display:table-cell;
  vertical-align:top;
}
#video_player figcaption{
  width:25%;
}
#video_player figcaption a{
  display:block;
  opacity:.5;
  transition:1s opacity;
}
#video_player figcaption a img,figure video{
  width:100%;
  height:auto;
}
#video_player figcaption a:hover{
  opacity:1;
}
/* flip the captions from displaying in side-bar to underneath video console */
  @media screen and (max-width:700px) {
  #video_player video,#video_player figcaption {
    display:table-row;
  }
  #video_player figcaption a{
    display:inline-block;
    width:33.33%;
  }
}
/* file uploader
#progress_bar {
  margin:10px 0;
  padding:3px;
  border:1px solid #000;
  font-size:14px;
  clear:both;
  opacity:0;
  -moz-transition:opacity 1s linear;
  -o-transition:opacity 1s linear;
  -webkit-transition:opacity 1s linear;
}
#progress_bar.loading {
  opacity:1.0;
}
#progress_bar .percent {
  background-color:#99ccff;
  height:auto;
  width:0;
}
*/
/*
#update_button{
  float:right;
}
span{
  font-color:#F00;
}
table.read_only td{
  border:1px dotted;
  font-family:sans-serif;
  color:#999;
}
*/
